<section>
  <div class="logo">
      <img src="icons/logo.png" alt="">
  </div>
  <div class="search-box">
      <form>
          <select name="" id="">
              <option value="#">All Category</option>

          </select>
          <span class="bar2">|</span>
          <input type="search" placeholder="Search by Category, Product or Keyword">
          <button><a href=""><i class="fa-sharp fa-solid fa-magnifying-glass"> </i>SEARCH</a></button>
      </form>
  </div>
  <div class="contact">
      <img src="icons/hd1.png" alt="">
      <h3>(+971)+971 600 555 009 <br><span class="call">Call Us Now</span></h3>
      <img src="icons/hd2.png" alt="">
      <img src="icons/hd3.png" alt="">
  </div>
</section>
