 <!--footer section-->
 <footer>
  <div class="footer-div">
      <div class="logo-content">
          <img src="icons/logo_footer.png" alt="">
          <p>Techno store360 ia UAE's one stop online shop for digital solutions such as globali registering
              domains, hosting websites,
              run servers, email solution, backup solution and other managed web services.
          </p>
      </div>
      <div class="vertical-line1"></div>
      <div class="locate">
          <h3>Techno Dot Academy of R & D FZC</h3>
          <h4>Hi Tech Office-048 <br>
              Sharjah Research Technology <br>
              And Innovation Park <br>
              United Arab Emirates </h4>
          <h3>+971544055999 <br>
              info@technostore360.com</h3>
      </div>
      <div class="vertical-line1"></div>
      <div class="navigation">
          <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">About Technostore</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">FAQs</a></li>
          </ul>
      </div>
      <div class="vertical-line1"></div>
      <div class="explore-category">
          <ul class="nav1">
              <li><a href="#">Cloud</a></li>
              <li><a href="#">Email and Collabration</a></li>
              <li><a href="#">Backup & Security</a></li>
              <li><a href="#">Domain Names</a></li>
              <li><a href="#">Softwares</a></li>
              <li><a href="#">Web & Marketing</a></li>
              <li><a href="#">Infrastructure</a></li>
              <li><a href="#">On Demand Services</a></li>
          </ul>
      </div>
  </div>
  <div class="logos" data-aos="fade-up">
      <div class="diff-logo">
          <img src="icons/1.jpg" alt="">
      </div>
      <div class="diff-logo">
          <img src="icons/2.jpg" alt="">
      </div>
      <div class="diff-logo">
          <img src="icons/3.jpg" alt="">
      </div>
      <div class="diff-logo">
          <img src="icons/4.jpg" alt="">
      </div>
  </div>


  <div class="social-media-icons">
    <div class="icon">
        <a href="#"><img src="icons/instagram.png" alt="">Instagram</a>
    </div>
    <div class="icon">
        <a href="#"><img src="icons/twitter.png" alt="">Twitter</a>
    </div>
    <div class="icon">
        <a href="#"><img src="icons/facebook.png" alt="">Facebook</a>
    </div>
    <div class="icon">
        <a href="#"><img src="icons/linkedin.png" alt="">LinkedIn</a>
    </div>
    <div class="icon">
        <a href="#"><img src="icons/yotube.png" alt="">Youtube</a>
    </div>
</div>



  <div class="copyright">
      <h5> &copy; Copyright2010-2023, Technostore (Registered in India /UAE).All Right Reserved. <br>
          Technostore doesn't authorize any third party sellers to re sell technostore modules.</h5>
  </div>
</footer>
