<header class="nav-bar">
  Language: <select>
      <option value="English">English</option>
  </select><span class="bar">|</span>

  Currency: <img src="icons/flag.png" alt="">
  <select (change)="onCurrencyChange($event)" [disabled]="isPrintPage()" [(ngModel)]=" this.currencyService.selectedCurrency">
      <option value="INR">INR</option>
      <option value="USD">USD</option>
      <option value="AED">AED</option>
  </select>
  <nav>
      <ul class="nav-link" #navLink>
          <li><a href="#">About Us<span class="bar1">|</span></a></li>
          <li><a href="#">Blog<span class="bar1">|</span></a></li>
          <li><a href="#">Contact Us</a></li>
      </ul>
  </nav>
  <img src="icons/logo9.png" alt="" class="menu-icon"  #menuIcon>
</header>
