
<table>
  <tr>
      <th>Purchase Name</th>
      <th>Duration</th>
      <th>Number of Accounts</th>
      <th>Price</th>
      <th>Tax</th>

  </tr>
  <tr>
      <td>Google Workspace <br><span class="type">(Business Starter)</span></td>
      <td>1 Month</td>
      <td>5 Users</td>
      <td>150.00</td>
      <td>27 <br><span class="type">(18%)</span></td>
  </tr>
  <tr>
      <td>Google Workspace <br><span class="type">(Business Starter)</span></td>
      <td>1 Month</td>
      <td>5 Users</td>
      <td>150.00</td>
      <td>27 <br><span class="type">(18%)</span></td>
  </tr>

</table>
