
<div class="home-section">
  <div class="home">
    <table>
      <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Starting Date</th>
          <th>Expire Date</th>
          <th></th>
      </tr>

      <tr>
          <td>Google Workspace</td>
          <td>2</td>
          <td>888</td>
          <td>00/00/0000</td>
          <td>00/00/0000</td>
          <td><button id="view-btn">View Details</button></td>
      </tr>
    </table>

  </div>
</div>
