
.popup {
  width: 280px;
  background: #fff;
  display: grid;
  align-items: center;
  box-shadow: 0 0 3px 6px rgba(0, 0, 0, 0.04);
  border-bottom-right-radius: 65px;
  border-bottom: 8px solid #28abe1;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.1);
  top: 0;
  left: 50%;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup-list {
  padding: 30px;
}
.popup-list li {
  padding: 10px;
  font-size: 12px;
}
.proceed-btn {
  width: 100%;
  padding: 10px;
}
#proceed {
  background: #28abe1;
  color: #fff;
  padding: 5px 8px;
  border-radius: 2px;
  cursor: pointer;
}
#proceed:hover {
  background-color: #63bbe1;
}
