
        <div class="icon-bar">
          <img src="icons/logo9.png" alt="" class="menu" #menuBtn>
          <div class="icon-list">
              <ul class="ListIcon"  #listIcon>

                  <li><img src="icons/ic1.png" alt=""><a href="/">Cloud</a></li>


                  <li><img src="icons/ic2.png" alt=""><a href="/print">Email & Collaboration</a></li>


                  <li><img src="icons/ic3.png" alt=""><a href="/user">Backup & Security</a></li>


                  <li><img src="icons/ic4.png" alt=""><a href="">Domain Names</a></li>


                  <li><img src="icons/ic5.png" alt=""><a href="">Softwares</a></li>


                  <li><img src="icons/ic6.png" alt=""><a href="">Website & Marketing</a></li>


                  <li><img src="icons/ic7.png" alt=""><a href="">Infrastructure</a></li>


                  <li><img src="icons/ic8.png" alt=""><a href="">On Demand Services</a></li>

              </ul>
          </div>
      </div>
